body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #B7EAF7;
    color: #445A67;
}
#container{
    display: grid;
    width: 600px;
    height: 600px;
    overflow: hidden;
    grid-auto-flow: column;
    grid-auto-flow: row;
    margin: 25px;
}
#header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#input{
    display: flex;
    align-items: center;
}
#inputbox{
    height: 15px;
    width: 25px;
    margin-left: 5px;
}
#inputbutton{
    margin: 5px;
    background-color: #57838D;
    color: white;
    border-radius: 5px;
}
#inputbutton:hover{
    margin: 5px;
    background-color: #B4C9C7;
}
.row{
    display: flex;
    height: auto;
    width:  100%;
}
.column{
    display: flex;
    background-color: #FFFFFF;
    height: auto;
    width:  100%;
}