.body{
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    display: grid;
    width: 800px;
    height: 800px;
    overflow: hidden;
    grid-auto-flow: column;
    grid-auto-flow: row;
}
.row{
    display: flex;
    background-color: black;
    height: auto;
    width:  100%;
}
.column{
    display: flex;
    background-color: black;
    height: auto;
    width:  100%;
    border: 1px green dotted;
}